/* ================================= 
  Base Styles
==================================== */

* {
    font-family: "Open Sans", sans-serif;
}

nav ul {
    margin: 1rem;
    padding: 0;
}

nav li {
    /* display: inline-block; */
    font-size: 1.25rem;
    /* margin: 0 .3rem; */
    list-style-type: none;
    text-align: center;
}

.main-nav a {
	text-align: center;
	display: block;
	padding: 3px 12px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

a:hover {
    color:#808080;
}

.gallery-box {
    padding: 0;
}

h1 {
    font-size: 3em;
    margin: 1rem;
    text-align: center;
}

h2 {
    margin: 1.25rem 1rem .75rem 1rem;
    text-align: center;
}

h3 {
    margin: 1em;
}

p {
    margin: 0 1rem 2rem 1rem;  
    font-size: 1.1em;
      
}
img {
    width: 100%;
    margin-bottom: 1rem;
}

button {
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    /* margin: 1rem; */
    margin: auto;
    border-style: none;
    padding: 20px;
    display: flex;
}

button:hover {
    background-color: #808080;
}

.instructions {
    padding: .25rem;
}

input {
    padding: 1rem;
    width: 90%;
    margin: auto;
    font-size: 20px;
    background-color: #e8eeef;
    margin: 12px 16px 16px;
    /* margin-bottom: 30px;
    margin-top: 12px; */
}

label {
    margin: 0px 16px 16px;
    font-size: 16px;
}
/* ================================= 
  Media Queries
==================================== */


@media (min-width: 481px) {

	.main-header,
    .main-nav {
		display: flex;
	}

    .main-nav {
        justify-content: space-around;
    }
   
    /* #gallery-box {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    } */

    #gallery-box img {
        float: left; 
        width: 33.33%;
        margin: 0;
    }

}

@media (min-width: 769px) {

	.main-header {
		/* flex-direction: row; */
		justify-content: flex-start;
	}

    .main-nav {
        justify-content: flex-end;
    }

    h2 {
        text-align: left;
    }

}